body{
    background-color: black;
}
h1{
    background-color: white;
    position: relative;
    min-width: 50px;
}
h2{
    background-color: whitesmoke;
}

.breadcrumb li{
    position: relative;
    text-decoration: none;
    color: whitesmoke;
    display: inline;
}
.breadcrumb a{
    color: whitesmoke;
    text-decoration: none;
}
.sites{
    display: grid;
}
.item{
    width:350px;
    border: 10px solid whitesmoke;
}
img{
    width: 300px;
}