body{
    background-color: black;
}
h1{
    background-color: white;
    position: relative;
    width: 25%;
}

.breadcrumb li{
    position: relative;
    text-decoration: none;
    color: whitesmoke;
}
.breadcrumb a{
    color: whitesmoke;
    text-decoration: none;
}