body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-image: url(images/pattern.jpeg);
    text-align: center;
    font-size: 75px;
    font-weight: bold;
    color: khaki
}
.sub-heading-1{
    background-color: mediumspringgreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    width:100%;
}
.hacksaw span{
    color: blue;
    font-weight:bold;
}
.sub-heading-2{
    background-color: lightcoral;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    width:100%;   
}
.frames span{
    color: blue;
    font-weight: bold;
}